/* MEDIA QUERIES----------------------------------> */
@media screen and (max-width: 500px) {
  .nav-menu a {
    display: block;
  }
  .nav-menu {
    width: 375px;
  }
  .cards-info #img-serra {
    width: 100%;
    height: 100%;
  }
  .inner-parque #mapa {
    width: 85%;
    height: 300px;
  }
  h1,
  h2,
  h3 {
    font-size: 1.2rem;
  }
  .inner-parque #texto-parque {
    width: 90%;
    text-justify: auto;
  }
  .container-imagem {
    height: 10px;
  }
}
@media screen and (max-width: 700px) {
  .nav-menu {
    width: 650px;
  }
  .cards-info #img-serra {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 500px) {
  .nav-inner #menu-texto {
    visibility: hidden;
  }
}
/* {END} MEDIA QUERIES---------------------------------> */
